<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head('Anecdotes')"></head>
<body>
<div th:replace="fragments/menu::menu(${path})"></div>
<div class="container">
    <div class="jumbotron text-center">
        <h2>Anecdotes</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center ">
            <a class="col-md-3 img-thumbnail anecdote_container" th:each="a : ${anecdotes}">
                <p th:text="${a.text}"></p>
                <img class="img-thumbnail" th:if="${a.picture != null}"
                     th:src="${'/anecdotes-uploads/' + a.picture}" src="">
                </form>
            </a>
        </div>

    </div>
</div>
<div th:replace="fragments/foot::foot"></div>
</body>
</html>
