<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head('My Profile')"></head>
<body>
<div th:replace="fragments/menu-user::menu(${path})"></div>
<div class="container">
    <div class="jumbotron text-center">
        <h2>My Profile</h2>
    </div>

    <div class="container">
        <div class="row justify-content-center ">
            <a th:href="@{update-user-profile(id=${user.id})}" class="col-md-3 img-thumbnail anecdote_container">
                <p> NAME: [[${user.name}]]</p>
                <p> USERNAME: [[${user.username}]]</p>
                <p> ROLE: [[${user.role}]]</p>
                <p> CREATED: [[${user.createdAt}]]</p>
                <p> UPDATED: [[${user.updatedAt}]]</p>
                <p> PROFILE PICTURE:</p>
                <img class="img-thumbnail" th:if="${user.profilePicture != null}"
                     th:src="${'/users-uploads/' + user.profilePicture}" src="">
            </a>
        </div>
    </div>
</div>
<div th:replace="fragments/foot::foot"></div>
</body>
</html>
