<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head('Users')">
    <style type="text/css">

.anecdote_container {
    margin: 5px;
}

.anecdote_container:hover {
    background-color: #fff9b8;
    border-color: gold;
}


    </style>
</head>
<body>
<div th:replace="fragments/menu-admin::menu(${path})"></div>
<div class="container">
    <div class="jumbotron text-center">
        <h2>Users</h2>
    </div>

    <div class="container">
        <div class="row justify-content-center ">
            <a th:href="@{update-user(id=${u.id})}" class="col-md-3 img-thumbnail anecdote_container"
               th:each="u : ${users}">
                <p> NAME: [[${u.name}]]</p>
                <p> USERNAME: [[${u.username}]]</p>
                <p> ROLE: [[${u.role}]]</p>
                <p> CREATED: [[${u.createdAt}]]</p>
                <p> UPDATED: [[${u.updatedAt}]]</p>
                <p> PROFILE PICTURE:</p>
                <img class="img-thumbnail" th:if="${u.profilePicture != null}"
                     th:src="${'/users-uploads/' + u.profilePicture}" src="">
            </a>
        </div>
    </div>
</div>
<div th:replace="fragments/foot::foot"></div>
</body>
</html>
