h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.navbar-brand {
    height: 60px;
    padding-top: 5px;
    padding-left: 30px;
}

/* Main menu */
.navbar{
    padding: 0.1rem 1rem;
}

.navbar-nav>.nav-item>.nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
}

.search-form {
    padding-right: 50px;
}

.menu-label {
    padding-right: 0.8rem;
}

.navbar .active {
    background: gainsboro;
}

.anecdote_container {
    margin: 5px;
}

.anecdote_container:hover {
    background-color: #fff9b8;
    border-color: gold;
}

